@charset "utf-8";
#promotion{ padding-top:3%;}



#promotion .nav-tabs.nav-justified > li > a ,
#promotion .nav__slick  li  a {
	font-weight:bold;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
	font-size: 18px;
	color:#ff0000;
	text-transform: uppercase;
	font-family: 'DINCondMediumRegular', 'bebas_neue_cyrillicregular', 'BebasNeueTurkishSubset', 'BebasNeuePolishSubset', sans-serif;
}
#promotion .nav__slick{
    opacity: 0;
    position: absolute;
}
#promotion .nav__slick li{
    text-align: center;
    line-height: 41px;
}
#promotion .nav__slick  li  a {
    padding: 10px 15px;
}
#promotion .nav__slick  li  a:hover{
    background: #eee;
}
#promotion .slick-next:before {
    content:'❯';
}
#promotion .slick-prev:before {
    content:'❮';
}
@media screen and (max-width: 1976px) and (min-width: 768px) {
    #promotion .nav__slick{
        opacity: 1;
        position: unset;
    }
    #promotion ul.nav-tabs:first-child {
        display: none;
    }
}
@media screen and (max-width:1824px){
    #promotion .nav-tabs.nav-justified > li > a {
        font-size: 16px;
    }
}
#promotion .nav-tabs.nav-justified > .active > a{ color:#ff0000; background:#FFF;}

.btn-primary.outline{ background:none; border:2px solid #FFF; color:#FF0004; transition:all 0.2s ease-in-out; padding:10px;}

.btn-primary.outline:hover { background:#FF0004; border:2px solid #FF0004; color:#FFF; border-radius:10px;}


.promotion {
	
	color: rgb(255,255,255);
	margin-bottom: 10px;
	position: relative;
	transition: all 0.2s ease-in-out;		
}

.promotion .thumbnail{ background:#101010; border:0px; color:#FFF; padding:10px; min-height: 500px;}
.Promotion_title {
    font-size: 24px;
    font-weight: normal;
	color:#FFF;
}
.Promotion_date {
	display:block;
	background:#000000;
	border-radius:5px;
	height: auto;
	/*width:70%;*/
	
	
	
	}
.Promotion_date h2{
	padding:5px;
	text-indent:5px;
	line-height:15px;
	font-size: 15px;
    font-weight: normal;
	color:#FF0004;}
.Promotion_excerpt {
    padding-bottom: 20px;
	color:#fff;	
}
 
.post_thumbnail{
transition: background-color 0.2s ease-in-out;
    z-index: 2; 
 
}
.pormotion_thumbnail{
	overflow: hidden;
	position: relative;
	/*height: 200px;*/
	padding-bottom: 66%;
}
.thumbnail .pormotion_thumbnail div {
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    transition: transform .7s;
    z-index: 1;
    min-height: 200px;
}
.thumbnail:focus .pormotion_thumbnail div,
.thumbnail:hover .pormotion_thumbnail div{
	-webkit-transform: rotate(-10deg) scale(1.25);
	-ms-transform: rotate(-10deg) scale(1.25);
	transform: rotate(-10deg) scale(1.25);
}
.thumbnail .pormotion_thumbnail:before{
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	z-index: 2;
}
.thumbnail:focus .pormotion_thumbnail:before,
.thumbnail:hover .pormotion_thumbnail:before{
	background-color: rgba(230,0,20,0.5);
}


.footer .row {
	margin: 0;
}

.expandable {
	overflow: hidden;
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 5px 0 20px 0;
}
h2.filter {
	margin-right: 10px;
}
h2.filter, .filter-list, .filter-list ul, .filter-list ul li {
	float: left;
}
.filter-list ul li {
	list-style: none;
	font-size: 20px;
	font-family: 'DINCondMediumRegular', 'bebas_neue_cyrillicregular', 'BebasNeueTurkishSubset', 'BebasNeuePolishSubset', sans-serif;
}
.filter-list ul li a {
    padding: 0;
    margin: 24px 15px 0 0;
    line-height: 20px;
    display: block;
}
.filter-list ul li a.active {
	color:#f00;
	font-weight: bold;
}

.fr {
    float: right
}

.jump_page {
    height: 40px;
    padding: 0;
    margin: 0
}

.jump_page li {
    list-style: none;
    text-align: center;
    line-height: 20px;
    float: left;
    cursor: pointer
}

.jump_page a {
    width: 20px;
    height: 20px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    background: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #222;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px 10px 0
}

.jump_page a:hover {
    border: 1px solid #ff2121;
    background: #d70000;
    color: #fff
}

.jump_page .last_li a {
    width: 60px;
    height: 20px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    background: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #222;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px 10px 0
}

.jump_page .last_li a:hover {
    border: 1px solid #ff2121;
    background: #d70000;
    color: #fff
}

.jump_page li.on a {
    border: 1px solid #ff2121;
    background: #d70000;
    color: #fff
}